:root {
    --number-button-color: #92c8f5;
    --function-button-color: #50a3ec;
    --clear-button-color: #0b61cc;
    --enter-button-color: #ffdd65;
    --background-color: #f0edf1;
}

* {
    background-color: var(--background-color);

}

h1 {
    margin: auto;
    color: var(--clear-button-color);
    text-align: center;
    padding: 1em 0;
    font-size: 3em;
    -webkit-text-fill-color: var(--number-button-color);
    -webkit-text-stroke: 1px var(--clear-button-color);
}
.calculator {
    display: grid;
    max-width: 475px;
    min-width: 475px;
    grid-template-rows: [row1] 7.5em [row2] 4.5em [row3] 4.5em [row4] 4.5em [row5] 4.5em;
    border: 3px solid var(--number-button-color);
    border-radius: .5em;
    margin:auto;
}

.display {
    background-color: #d1d3d2;
    color: #636361;
    margin: .5em .2em;
    font-size: 3em;
    text-align: end;
    padding-top: .255em;
    padding-right: .25em;
}

.row5 {
    margin-bottom: .75em;
}

.number {
    background-color: var(--number-button-color);
    color: #0b61cc;
}

.operator {
    background-color: var(--function-button-color);
    color: var(--background-color);
}

.enter {
    background-color: var(--enter-button-color);
    color:#0b61cc;
}

.clear {
    background-color: var(--clear-button-color);
    color: var(--background-color);
}

button {
    height: 2.5em;
    width: 05em;
    margin: .5em;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: .3em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--clear-button-color);
    color:var(--background-color);
    text-align: center;
}